version: "3"
services:
  user-service:
    build: ./backend/user-service
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  post-service:
    build: ./backend/post-service
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
